<table>
    <tr>
      <td colspan="2">
            <img src="/images/Sylvoon.jpg" alt="Website Logo" title="Website Logo" id="logo">
        </td>
        <td colspan="2">
            <h2><a href="/">Home</a><h2>
        </td>
        <td colspan="2">
            <h2><a href="/projects">Projects</a><h2>
        </td>
        <td colspan="2">
            <h2><a href="/services">Services</a><h2>
        </td>
        <td colspan="2">
            <h2><a href="/aboutMe">About Me</a><h2>
        </td>
        <td colspan="2">
            <h2><a href="/contact">Contact Me</a><h2>
        </td>
    </tr>
</table>