<!DOCTYPE html>
<html>
  <head>
    <meta content="en-us" http-equiv="Content Language" />
    <meta content="text/html; charset-utf-8" http-equiv="Content-Type" />
    <meta content="COMP229, Assignment#1, Nicholas Harris, Web Development, HTML, CSS, JavaScript, EJS, Express, Node.JS, JSON" name="keywords" />
    <meta content="This is the first assignment for COMP229 by Nicholas Harris." name="description" /> 
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body onload="">
    <div id="allPage">
      <table>
        <tr>
          <td colspan="2">
            <img src="./images/Sylvoon.jpg" alt="Website Logo" title="Website Logo" id="logo">
          </td>
          <td colspan="2">
            <h2><a href="./">Home</a><h2>
          </td>
          <td colspan="2">
            <h2><a href="./projects">Projects</a><h2>
          </td>
          <td colspan="2">
            <h2><a href="./services">Services</a><h2>
          </td>
          <td colspan="2">
            <h2><a href="./aboutMe">About Me</a><h2>
          </td>
          <td colspan="2">
            <h2><a href="./contact">Contact Me</a><h2>
          </td>
        </tr>
      </table>
      <div id="style">
      <br>
      <form>
        <table>
          <tr>
            <td>
               <h2>Contact Me</h2>
           </td>
          </tr>
          <tr>
            <td>
              <h3>Please complete all the fields below:</h3>
            </td>
          </tr>
          <tr>
            <td>
              <label for="fName">First Name:<input type="text" style="width: 10em" id="firstName" placeholder="Ex: Nicholas" tabindex="1" required /></label>
              <p id="firstNameError" class="errorMessage"></p>
            </td>
          </tr>
          <tr>
            <td>
              <label for="lName">Last Name:<input type="text" style="width: 10em" id="lastName" placeholder="Ex: Harris" tabindex="3" required /></label>
              <p id="lastNameError" class="errorMessage"></p>
            </td>
          </tr>
          <tr>
            <td>
              <label for="email">Email:<input type="email" style="width: 12em" id="email" placeholder="Ex: yourname@gmail.com" tabindex="5" required /></label>
              <p id="emailError" class="errorMessage"></p>
            </td>
          </tr>
          <tr>
            <td>
              <label for="textBox"><textarea name="message" rows="5" cols="20" placeholder="Your message content goes here..."></textarea></label>
            </td>
          </tr>
          <tr>
            <td>
              <button type="button" name="Send" id="send">Send Email</button>
              <button type="reset" name="Clear Form" id="clearForm">Clear Form</button>
            </td>
          </tr>
        </table>
      </form>
      </div>
      <br />
    </div>
    <script src="./javascripts/assignment1.js"></script>
  </body>
</html>
