<%# This is the ejs template for my services page %>
<!DOCTYPE html>
<html>
  <head>
    <meta content="en-us" http-equiv="Content Language" />
    <meta content="text/html; charset-utf-8" http-equiv="Content-Type" />
    <meta content="COMP229, Assignment#1, Nicholas Harris, Web Development, HTML, CSS, JavaScript, EJS, Express, Node.JS, JSON" name="keywords" />
    <meta content="This is a page for my services" name="description" /> 
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div id="allPage">
      <table>
        <tr>
          <td colspan="2">
            <img src="/images/Sylvoon.jpg" alt="Website Logo" title="Website Logo" id="logo">
          </td>
          <td colspan="2">
            <h2><a href="/">Home</a><h2>
          </td>
          <td colspan="2">
            <h2><a href="/projects">Projects</a><h2>
          </td>
          <td colspan="2">
            <h2><a href="/services">Services</a><h2>
          </td>
          <td colspan="2">
            <h2><a href="/aboutMe">About Me</a><h2>
          </td>
          <td colspan="2">
            <h2><a href="/contact">Contact Me</a><h2>
          </td>
        </tr>
      </table>
      <h1><%= title %></h1>
      <p>Here is a list of the services I can provide based on my technical skills:</p>
      <ul>
        <li>Object-Oriented Programming in C# and Java</li>
        <img src="/images/OOP.png" alt="Object-Oriented Programming picture" title="Object-Oriented Programming" width="375" height="375" />
        <br><br>
        <li>Web Development</li>
        <img src="/images/Web Dev.jpeg" alt="Web Development picture" title="Web Development" width="375" height="375" />
        <br><br>
        <li>Simple Reflex Agents in Python</li>
        <img src="/images/agentAI.png" alt="Reflex Agent Diagram" title="Reflex Agent Diagram" width="375" height="375" />
        <br><br>
        <li>Technical Writing</li>
        <img src="/images/Writing.jpg" alt="Person Typing" title="Technical Writing" width="375" height="100%" />
      </ul>
    </div>
  </body>
</html>
