<!-- Main Content -->
<main class="container">
    <div class="row">
        <div class="offset-md-1 col-md-10">
            <h1><%= title %></h1>
            <br>
            <table class="table table-bordered table-striped table-hober">
                <tr>
                    <th class="text-center">Contact Name</th>
                    <th class="text-center">Contact Number</th>
                    <th class="text-center">Email Address</th>
                </tr>

                <!-- Repeatable Template Row -->
                <% for(let count = 0; count < ContactList.length; count++) { %>
                    <tr>
                        <td class="text-center"><%= ContactList[count].contact_name %></td>
                        <td class="text-center"><%= ContactList[count].contact_number %></td>
                        <td class="text-center"><%= ContactList[count].email %></td>
                    </tr>
                <% } %>
            </table>
        </div>
    </div>
</main>