<%- include partials/main_nav.ejs %>
<!DOCTYPE html>
<html>
  <head>
    <meta content="en-us" http-equiv="Content Language" />
    <meta content="text/html; charset-utf-8" http-equiv="Content-Type" />
    <meta content="COMP229, Assignment#1, Nicholas Harris, Web Development, HTML, CSS, JavaScript, EJS, Express, Node.JS, JSON" name="keywords" />
    <meta content="This is the first assignment for COMP229 by Nicholas Harris." name="description" /> 
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div id="allPage">
      <h1><%= title %></h1>
      <p>Welcome to my portfolio! My name is Nicholas Harris, I am a software engineering student and to learn more about me, click the "About Me" link in the navigation bar above!</p>
      <br>
      <p>“Life is not a problem to be solved, but a reality to be experienced.” - Soren Kierkegaard</p>
    </div>
  </body>
</html>
