<%- include partials/main_nav.ejs %>
<!DOCTYPE html>
<html>
  <head>
    <meta content="en-us" http-equiv="Content Language" />
    <meta content="text/html; charset-utf-8" http-equiv="Content-Type" />
    <meta content="COMP229, Assignment#1, Nicholas Harris, Web Development, HTML, CSS, JavaScript, EJS, Express, Node.JS, JSON" name="keywords" />
    <meta content="This is a page for my projects" name="description" /> 
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div id="allPage">
      <h1><%= title %></h1>
      <p>Here is a list of projects that I am most proud of to date:</p>
        <p id="bold">A simple JavaScript game</p>
        <img src="/images/Goblin Game.png" alt="My JavaScript Goblin Game" title="Goblin Game" width="75%" height="75%" />
        <br><br>
        <p id="bold">A Vehicle Application in C#</p>
        <img src="/images/VehicleApp.png" alt="My Vehicle Application" title="Vehicle App" width="90%" height="90%" />
        <br><br>
        <p id="bold">A Software Requirements Specification Template I made for at my summer job</p>
        <img src="/images/SRS.png" alt="Software Requirements Specification" title="SRS" width="75%" height="75%" />
    </div>
  </body>
</html>
