<%- include partials/main_nav.ejs %>
<%- include ./partials/header.ejs %>
  <body>
    <div id="allPage">
      <h1><%= title %></h1>
      <p>Here is a list of the services I can provide based on my technical skills:</p>
      <ul>
        <li>Object-Oriented Programming in C# and Java</li>
        <img src="/images/OOP.png" alt="Object-Oriented Programming picture" title="Object-Oriented Programming" width="375" height="375" />
        <br><br>
        <li>Web Development</li>
        <img src="/images/Web Dev.jpeg" alt="Web Development picture" title="Web Development" width="375" height="375" />
        <br><br>
        <li>Simple Reflex Agents in Python</li>
        <img src="/images/agentAI.png" alt="Reflex Agent Diagram" title="Reflex Agent Diagram" width="375" height="375" />
        <br><br>
        <li>Technical Writing</li>
        <img src="/images/Writing.jpg" alt="Person Typing" title="Technical Writing" width="375" height="100%" />
      </ul>
    </div>
  </body>
<%- include ./partials/footer.ejs %>
